.section-container {
  padding: 0 15px;
}
.text,
.open-hours ul {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 1px;
}
.open-hours,
.info,
.gallery {
  padding: 3rem 0 2rem;
}
.gallery {
  background: #768b66;
}
.gallery .section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.gallery .section-container img {
  max-width: 360px;
  width: 100%;
}

.open-hours ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  margin-bottom: 2rem;
  span {
    margin: 0.2rem auto;
    width: 30px;
    height: 1px;
    background-color: #000;
  }
}

.open-hours img {
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 100%;
}

.open-hours {
  padding-bottom: 0;
}
@media (min-width: 600px) {
  .gallery .section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .text,
  .open-hours ul {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .section-container {
    max-width: 1100px;
    margin: 0 auto;
  }
  .text,
  .open-hours ul {
    font-size: 1.4rem;
  }
  .open-hours img {
    height: 300px;
  }
  .gallery .section-container {
    gap: 30px;
  }
  .gallery {
    padding: 0;
  }

  .info {
    padding: 5rem 0 4rem;
  }
  .open-hours {
    padding-top: 5rem;
  }
  .open-hours ul {
    margin-bottom: 4rem;
  }
}
