:root {
    --background-green: #9CB58A;
    --kokvran-red: #830B0B;
    --text: #000000;

    --max-width: 1100px;

    --font-heading: "Alegreya Sans", sans-serif;
    --font-heading-weight: 400;
    --font-heading-style: normal;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 1rem;
    background: var(--background-green);
    color: var(--text);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
    font-weight: var(--font-heading-weight);
    font-style: var(--font-heading-style);
    color: var(--text);
    line-height: 1.2;
}

footer {
    font-size: 0.5rem;
}



/* Mobile Design */
@media (max-width: 768px) {
    h1 {
        font-size: 1.6rem;
    }
}

/* Desktop Design */
@media (min-width: 320px) {
    nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }

    nav button {
        background-color: var(--kokvran-red);
        border-radius: 20px;
        border-style: none;
        padding: 10px;
        color: white;
    }

    nav a {
        color: var(--kokvran-red);
        text-decoration: none;
    }

    button a {
        color: white;
    }

    nav p {
        padding: 0;
        margin: 0;
    }
}

