:root {
  --background-green: #9cb58a;
  --kokvran-red: #830b0b;
  --text: #000000;

  --max-width: 1100px;

  --font-heading: "Alegreya Sans", sans-serif;
  --font-heading-weight: 400;
  --font-heading-style: normal;

  --font-header: "DM Sans", sans-serif;
  --font-header-weight: 400;
  --font-header-style: normal;
}




@font-face {
  font-family: "DM Sans";
  src: url("fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("fonts/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  /* padding: 1rem; */
  background: var(--background-green);
  color: var(--text);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: var(--font-heading-weight);
  font-style: var(--font-heading-style);
  color: var(--text);
  line-height: 1.2;
}

.btn {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  background-color: var(--kokvran-red);
  border: 1px solid var(--kokvran-red);
  color: white;
  border-radius: 50px;
  padding: 12px;
}

.btn--secondary {
  background-color: transparent;
}

footer {
  font-size: 0.5rem;
}

events-page h1 {
    margin: 3vw;
    font-size: 1rem;
}
.card {
  height: clamp (fit-content, 30vw, 40vw);
  width: 40vw;
  background-color: #768b66;
  border: 2px solid #768b66;
  height: clamp (fit-content, 30vw, 40vw);
  width: 40vw;
  padding: 1vw;
}
.menu_hamburger {
    width: 7vw;
}
.card button {
  border: 2px solid black;
  background-color: transparent;
  border-radius: 20px;
  padding: 1.1vw;
}

.card img {
  width: 70%;
  object-fit: cover;
  display: flex;
}

.card a {
  text-decoration: none;
  color: var(--text);
  border: 1px solid black;
  border-radius: 20px;
  width: 70%;
  min-width: 20vw;
  padding: 2vw;
  display: flex;
  flex-direction: row;
}

.card a:hover {
    font-weight: bolder;
    border: 2px solid black;
}

.card img {
  width: 100%;
  height: 35vw;
  object-fit: cover;
}

    .top {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        font-size: 70%;
        letter-spacing: 1px;
        padding: 0.2rem 0.2rem;
        z-index: 10;
    }
.card {
  height: clamp (fit-content, 30vw, 40vw);
  width: 40vw;
  padding: 1vw;
}

/* Mobile Design */
@media (max-width: 768px) {


  .container {
    z-index: 60;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: row;
    gap: 3vw;
    height: fit-content;
    margin: 1vw;
    width: 100%;
  }
  .card {
    width: 95%;
    margin: 2vw;
  }
  h1 {
    font-size: 1.6rem;
  }

  nav {
    display: none;
  }

  #mobile-nav {
    height: 8vw;
    display: flex;
    justify-content: flex-end;
  }
  .mobile-nav-container {
    z-index: 60;
    font-family: var(--font-heading);
    flex-direction: column;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--background-green);
    color: var(--kokvran-red);
    padding-left: 3vw;
    padding-top: 5vw;
  }
  .mobile-nav-container .social-media-link {
    background: var(--kokvran-red);
    border-radius: 20px;
    border: 2px solid var(--kokvran-red);
    color: white;
    font-family: inherit;
    width: fit-content;
    padding: 1vw;

  }
  .mobile-nav-container a {
    margin: 1vw;
  }

/* close icon */
  .mobile-nav-container #close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    font-size: 3vw;
    padding-top: 5vw;
    padding-right: 3vw;
  }

  .mobile-nav-container p {
    color:#000000;
    margin-top: 7vw;
  }
  .mobile-nav-container hr {
    border: 1px solid var(--kokvran-red);
    width: 100%;
  }
}

/* Desktop Design */
@media (min-width: 760px) {
  /* Navigation bar */

    .container {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    flex-wrap: wrap;
    height: fit-content;
    margin: 1vw;
  }

  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7vw;
  }

  #desktop-nav button {
    background-color: var(--kokvran-red);
    border-radius: 20px;
    border-style: none;
    padding: 10px;
    color: white;
  }

  #desktop-nav a {
    color: var(--kokvran-red);
    text-decoration: none;
  }

  #desktop-nav a {
    color: white;
  }

  #desktop-nav p {
    padding: 0;
    margin: 0;
  }
  /* Navigation bar */
}

.section-container {
  padding: 0 15px;
}
.text,
.open-hours ul {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 1px;
}
.open-hours,
.info {
  padding: 3rem 0 2rem;
}
.gallery {
  background: #768b66;
}
.gallery .section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.gallery .section-container img {
  max-width: 360px;
  width: 100%;
}

.open-hours ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  margin-bottom: 2rem;
  span {
    margin: 0.2rem auto;
    width: 30px;
    height: 1px;
    background-color: #000;
  }
}

.open-hours img {
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 100%;
  margin-bottom: -5px;
}

.open-hours {
  padding-bottom: 0;
}

footer {
  background: #768b66;
  padding: 1.5rem 0;
  font-family: "DM Sans", sans-serif;
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.contact .text {
  font-size: 1.1rem;
  font-family: "DM Sans", sans-serif;
}

.social-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  list-style-type: none;
  max-width: fit-content;
  svg {
    width: 30px;
    margin: auto;
    display: block;
    margin: 0;
  }
}

.footer-note {
  border-top: 1px solid black;
  padding-top: 1rem;
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

@media (min-width: 600px) {
  .gallery .section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .text,
  .open-hours ul {
    font-size: 18px;
  }
  .social-group {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .section-container {
    max-width: 1100px;
    margin: 0 auto;
  }
  .text,
  .open-hours ul {
    font-size: 1.4rem;
  }
  .open-hours img {
    height: 300px;
  }
  .gallery .section-container {
    gap: 30px;
  }
  .info {
    padding: 5rem 0 4rem;
  }
  .open-hours {
    padding-top: 5rem;
  }
  .open-hours ul {
    margin-bottom: 4rem;
  }
}

.open {
    display: flex;
}